# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 202b88a679b611db37d28803084652611db25f4a49bd7e49860d59723f7149cc22be22c0401b6faf275b498c1521c569bb0a018be04277d1c0a7f1cc215135f9

test:
  secret_key_base: da0ce380feedc915482ce2f933077272bb7a8b42c706edfd6b1e67391dd1f0c1232663e05b031e05db76b02730a8a8e3d35f8f095c9657b7623bc57f7d8fef53

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
